h1{

    font-family:courier;
    text-align:center;
    color:black;

    
}
p{

    font-family:courier;
    color:gray;
}
body{
    font-family:courier;
    font-size:160%;
    color:blue ;
    background-color: pink;
}

